body{
	background: #000000;
}
	#conteudo-esquerda{
		width: 424px;
		height: auto;
		float: left;
	}
	#conteudo-centro{
		width: 424px;
		height: auto;
		float: left;
	}
		#conteudo-direita{
		width: 424px;
		height: auto;
		float: right;
	}
	
		.banner{
		 width:424px;
		 height:375px;
	
	 }