header{	background: #888888;
		padding: 20px 0;
}

.caixa{	position: relative;
		width: 920px;
		margin: 0 auto;
	
}
nav {
	position: absolute;
	top: 50px;
	right: 0;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}
 
nav a{
	text-transform: uppercase;
	color:#000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: blue;
	text-decoration: underline;
}

.produtos{
		width: 1920;
		margin: 0auto;
		padding: 80px 0;
}
.produtos li{
	display: inline-block;
	border: 10px solid #000000;
	text-align: center;
	width: 30%;
	margin: 0 1.5%;
	vertical-align: top;
	padding: 30px 20px;
	box-sizing: border-box;
	border-radius: 60px;
}

.produtos li:hover{
	border-color:blue;
	font-size: 15;
	border-radius: 60px;
}
.produtos li: active{
	border-color: red;
	font-size: 40px;	
}

footer{ background: black;
		padding: 0;
		text-align: center;
}
	
.Copyright{
	color:white;
	font-size: 10px;
	margin: 20px 0 20px;
	
	
}